html, body, div, h1, h2, h3, h4, h5, h6, ul, li, ol, p, form, dd, dl, dt, label, fieldset, legend, address, center{margin:0;padding:0;list-style:none;font-weight:normal;font-style:normal;}
* {margin:0; padding: 0;}
img, fieldset{border:0;}

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    /*background: url(https://testi.rol.agea.com.ar/rol/img/pase/templates/rol-bg-body.jpg) 0px 0px repeat-x #FFFFFF;*/
	background: #FFFFFF;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
}

.fondo {padding: 0;}

.layout {overflow: hidden;}

.clearfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}

.HD{height:70px;background-color:#fff; position:relative; border-bottom: 1px solid #98A3A8;}
.HD .logo{
    background: url(https://testi.rol.agea.com.ar/rol/img/logo-desktop.png) no-repeat;
    position: absolute;
    left: 15px;
    width: 309px;
    height: 48px;
}
.HD .logo .link{float:left;height:100%;width:100%;}
.HD_ERROR .logo{position:absolute;left:30px;top:13px;width:250px;height:86px;}
.HD_ERROR .logo .link{float:left;height:100%;width:100%;}

/* .main {position: relative; float: left; display: block; width: 100%;} */


.aDosCols {margin-top: 30px;}
.cont {margin: 0 auto; width: auto;}

.aDosCols .colLeft {width: 470px;}
.aDosCols .colRight {width: 400px;}

.colLeft {float: left;width: 564px;}
.colRight {float: right;width: 330px;}

.botonCont.width100 {float: left;margin-left: 330px; width: 590px;}

.filasCont {font-size: 0.875em; margin-bottom: 20px;}

.filasCont .fila .label {color: #000000; float: left; line-height: 36px; margin-right: 10px; text-align: right; width: 200px;}
.filasCont .fila .input {border: 1px solid #C8C9CD; border-radius: 4px 4px 4px 4px; box-shadow: none; float: left; font-size: 0.875em; height: 35px; line-height: 0.875em; padding: 0 0 0 2px; width: 256px;}
.titHola { color: #000000; font-size: 1.375em; line-height: normal; margin-bottom: 12px;}
.titHola b {color: #0088CC;}
.userName {color: #08C;}

.filasCont .parrafo {margin-bottom: 50px;}
.filasCont .fila {margin: 0 0 10px;}

.boxUser {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}

.boxOk {background-color: #FFFFDB;border: 1px solid #CCCCCC; border-radius: 5px 5px 5px 5px; left: 50%; margin: 0 0 0 -158px; top: -100px; width: 315px; }

.boxOk .textOk {color: #000000;font-size: 20px;}

.boxOk + .parrafoGeneral {display: none;}
.parrafoGeneral {margin: 100px 0 0;}

.boxGris {background: url(https://testi.rol.agea.com.ar/rol/img/pase/templates/rol-tooltip-olvide-contrasenia-recorda.jpg) no-repeat scroll 21px 9px #FFFFDB; border: 1px solid #CCCCCC; border-radius: 5px 5px 5px 5px; height: 67px; margin-top: 42px; position: relative; width: 415px;}

.boxGris .Tl {background-position: -16px 0; left: 0; top: 0;}
.boxGris .Tr {background-position: -21px 0; right: 0; top: 0;}
.boxGris .Bl {background-position: -16px -5px; bottom: 0; left: 0;}
.boxGris .Br {background-position: -21px -5px; bottom: 0; right: 0;}

.boxGris .inner {padding: 13px 10px;}

.boxGris .inner .tit2 {text-indent: -999999999px;}

.col .botonCont {margin-left: 330px;}

.aUnaCol .botonGrande, .aUnaCol .botonGrande:hover  {background: url(https://testi.rol.agea.com.ar/rol/img/pase/templates/rol-boton-publicar.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 67px; width: 277px;}
.aUnaCol .botonCont.width100 {float: left;margin-left: 330px;width: 590px;}
.aUnaCol .botonGrande input {text-indent: -99999999px; width: 277px;}
.aUnaCol .botonCont {position: relative;top: -220px;}
.aUnaCol .botonCont.width100 {float: left;margin-left: 330px;width: 590px;}

.aDosCols .botonGrande {background: linear-gradient(to right bottom, #46B0DA 0%, #2182B3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);border: 1px solid #2A8CBD; border-radius: 5px 5px 5px 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 2px rgba(255, 255, 255, 0.7) inset; color: #F8F8F8; cursor: pointer; display: block; float: left; line-height: 62px; padding: 0; position: relative; text-align: center;}
.aDosCols .botonGrande input {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: medium none; color: #FFFFFF; cursor: pointer; float: left; font-size: 1.15em; font-weight: bold; line-height: 23px; padding: 17px 57px;}

.ui-widget-content {background: none repeat scroll 0 0 #0088CC; border: 0 none !important;}
/* .ui-inputfield, .ui-widget, .hasDatepicker {font: 12px Arial,Helvetica,sans-serif !important;} */
.popUp {left: 185px; position: absolute; top: 210px; width: 622px; z-index: 2;}
.popUp .textoOk {position: relative;}
.popUp .textoOk .text {font-size: 1.25em; font-weight: bold; line-height: normal; margin-top: 29px;text-align: center;}
.popUp .PopupBordeRight {border-left: 10px solid #FFFFFF;}

.botonDialogo {background: linear-gradient(to right bottom, #46B0DA 0%, #2182B3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #2A8CBD; border-radius: 5px 5px 5px 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 2px rgba(255, 255, 255, 0.7) inset; color: #F8F8F8; cursor: pointer; display: block; float: left; line-height: 62px; padding: 0; position: relative; text-align: center;}


.popUp{width:622px;position:absolute;z-index:2;top:210px;left:185px;}
.popupTable{width:100%;}
.popUp .Cv{width:5px;height:5px;position:absolute;background-repeat:no-repeat;z-index:1}
.popUp .Tl{top:0;left:0;background-position:0 0;}
.popUp .Tr{top:0;right:0;background-position:-15px 0;}
.popUp .Bl{bottom:0;left:0;background-position:0 -15px;}
.popUp .Br{bottom:0;right:0;background-position:-15px -15px;}
.popUp .popupBorde{background-repeat:repeat-x;height:15px;}
.popUp .popupBorde.Top{background-position: 0 -30px;}
.popUp .popupBorde.Bottom{background-position: 0 -46px;}
.popUp .PopupBordeLeft{border-right:10px solid #fff;}
.popUp .PopupBordeRight{border-left:10px solid #fff;}
.popUp .main{margin:0;padding:0;background-color:#fff;float:left;width:100%;}
.popUp.palabraClave .main{margin:0;padding:0;background-color:#fff;float:left;width:593px;}
.popUp .cerrar{position:absolute;right:0;top:0;width:33px;height:33px; z-index:3;}
.popUp .cerrar:hover{background-position: 0 -33px;}
.popUp .textoOk{position:relative;}
.popUp .textoOk .iconOK{width:59px;height:49px;position:absolute;left:55px;top:-12px;.top:15px;}
.popUp .textoOk .text{font-size:1.25em;font-weight:bold;text-align:center;line-height:normal;margin-top:29px;}



.popUp .ui-dialog-content {padding:0px;}
.popUp .ui-widget-content {color:black;font-family: 'Roboto', sans-serif;}
.popUp .ui-dialog-titlebar {background:none;cursor:pointer;}

.boxesGenerales .ui-widget-content {background: #404040;}
.ui-tabs {background: white;}
.ui-tabs-panel {font-size: medium !important;}

.addDialog {z-index: 100 !important;}
.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal{
border:0px;
background-color: white;
padding: 0;
}
.ui-messages-info-detail, .ui-messages-warn-detail, .ui-messages-error-detail, .ui-messages-fatal-detail, .ui-message-info-detail, .ui-message-warn-detail, .ui-message-error-detail, .ui-message-fatal-detail{
margin-left: 0px;
}
.filasCont .fila span.input.focus{background-color:#e6e5e5 !important; border:1px solid #aaaaaa;}
.filasCont .fila span.input {
    float:left;
    width:261px;
    padding:0px;
    border:0px;
    font-size:0.875em;
    height:38px;
    line-height:0.875em;
    .line-height:35px;
    line-height:35px\0/;
    margin:0px;
    background: none !important;
    box-shadow: none !important;
    color: #000000 !important;
    display: true;}

.ui-inputfield, .ui-widget, .hasDatepicker{
     /* font:12px Arial, Helvetica, sans-serif !important; */
}

.hasDatepicker{cursor:pointer;}

.ui-inputfield.focus, .ui-widget.focus, .ui-state-default.focus, .ui-corner-all.focus, .hasDatepicker.focus{background-color:#fff !important; border:1px solid #aaaaaa;}
.input > .ui-inputfield, .input > .ui-widget, .input > .ui-state-default, .input > .ui-corner-all, .input > .hasDatepicker{
    float:left;
    width:256px;
    padding:0 0 0 2px;
    border:1px solid #c8c9cd;
    font-size:0.875em;
    height:35px;
    line-height:0.875em;
    .line-height:35px;
    line-height:35px\0/;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    margin-bottom:20px;
    background: none !important;
    box-shadow: none !important;
    color: #000000 !important;
    display: true;
    *padding:10px 0 0 2px !important;}

.fila.error .input > .ui-inputfield, .fila.error .input > .ui-widget, .fila.error .input > .ui-state-default, .fila.error .input > .ui-corner-all, .fila.error .input > .hasDatepicker{border:0px !important;}

.filasCont .fila input.input.error{background-color:#f8efbe !important; border:1px solid #e1ba53 !important;}
.filasCont .fila .input .error{background-color:#f8efbe !important; border:1px solid #e1ba53 !important;}
.filasCont .fila .ui-state-error{background-color:#f8efbe !important; border:1px solid #e1ba53 !important;}
/* for IE */
*html .ui-inputfield.focus, .ui-widget.focus, .ui-state-default.focus, .ui-corner-all.focus, .hasDatepicker.focus, .ui-state-focus {background-color:#e6e5e5 !important; border:1px solid #aaaaaa !important;}
.botonGrande > .ui-button {background: none !important;}
.input .ui-inputfield, .input  .ui-widget, .input  .ui-state-default, .input  .ui-corner-all, .input .hasDatepicker{
    float:left;
    width:256px;
    padding:0 0 0 2px;
    border:1px solid #c8c9cd !important;
    font-size:0.875em;
    height:35px;
    line-height:0.875em;
    .line-height:35px;
    line-height:35px\0/;
    margin-bottom:20px;
    background: none !important;
    box-shadow: none !important;
    color: #000000 !important;
    display: true;}
.filasCont .fila span { *overflow:hidden !important; }
.filasCont .fila span .hasDatepicker {width:134px;*width:130px;width:130px\0/;*padding-top:10px !important; padding-top:10px \0/; *height:25px !important; height:25px \0/; }
.ui-state-focus { border:1px solid #aaaaaa !important;}

.fila.clearfix .ui-chkbox{line-height:36px;height:36px}
/* */
.fila.clearfix .ui-chkbox .ui-chkbox-box {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 16px;
    line-height:16px;
    margin-right: 7px;
    margin-top: 5px;
    margin-left: 168px;
    padding: 2px;
    width: 16px;
}

.filasCont .fila.error span.input{background-color:#f8efbe !important; border:1px solid #e1ba53;}
.filasCont .fila.error span.input input{background-color:none !important; border:0px;}

.ui-tabs .ui-tabs-panel {border-width: 0; padding: 0; background: white; }

/** SelectOneMenu **/

.ui-selectonemenu label.ui-selectonemenu-label {
    height:35px;
    padding:10px 4px 4px 4px;
    text-align: left;
}

.ui-selectonemenu .ui-selectonemenu-trigger  .ui-icon {
    margin-top: 10px;
}


/***************** *************/
.alert{border:1px solid #e1ba53;background-color:#f8efbe;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin:5px 0 5px 0;}

.customAlert{/*border:1px solid #e1ba53;background-color:#f8efbe;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;*/margin:5px 0 5px 0;}
.customAlert .inner{padding:10px;}
.customAlert .inner .tit{color:#c30000;font-size:0.75em;font-weight:bold;margin-bottom:3px;}
.customAlert .inner .text{color:#c30000;font-size:0.75em;line-height:14px;}
/************************************ Agea Digital *******************************/
.error .customAlert .inner{padding:20px 10px 17px 10px}
.error .customAlert .inner .alignCenter{text-align:center;font-size:0.875em;}

/************************************ FIX IE7 ************************************/
.botonGrande input{background:none;padding:17px 57px;.padding:16px 27px;font-size:1.15em;color:#fff;font-weight:bold;border:none;cursor:pointer;line-height:23px;line-height:27px\0/;.line-height:21px;float:left;}
.botonGrande a{background:none;padding:19px 57px;.padding:19px 27px;padding:17px 27px\0/;font-size:1.25em;color:#fff;font-weight:bold;text-shadow:0px -2px 0px #000;border:none;cursor:pointer;line-height:23px;line-height:27px\0/;.line-height:23px;float:left;}
.botonGrande button{background:none;padding:17px 57px;.padding:17px 27px;font-size:1.25em !important;color:#fff;font-weight:bold !important;text-shadow:0px -2px 0px #000;border:none;cursor:pointer;line-height:23px;line-height:27px\0/ !important;.line-height:23px !important;float:left;height:61px;vertical-align:center}
.botonGrande button .ui-button-text{display:inline}
.botonDialogo input{background:none;padding:17px 57px;.padding:16px 27px;font-size:1.25em;color:#fff;font-weight:bold;text-shadow:0px 1px 0px #000;border:none;cursor:pointer;line-height:23px;line-height:27px\0/;.line-height:26px;float:left;}
.botonDialogo button{background:none;padding:17px 57px;.padding:16px 27px;font-size:1.25em;color:#fff;font-weight:bold;text-shadow:0px -2px 0px #000;border:none;cursor:pointer;line-height:23px;line-height:27px\0/;.line-height:23px;float:left;height:61px;vertical-align:center}
.botonDialogo button .ui-button-text{display:inline}
/************************************ FIX FIREFOX ********************************/
@-moz-document url-prefix() {.botonDialogo input {padding:20px 57px;}}
@-moz-document url-prefix() {.botonGrande a {padding:18px 57px;}}
/********************************* MI PERFIL ASOCIADO *****************************/
.tit8{line-height:70px;font-size:1.375em;font-weight:bold;}
/*Boxes Generales*/
.boxesGenerales .tituloSeccion{font-size:1em;color:#fff;font-weight:bold;line-height:35px;background-color:#777;padding-left:10px;}
.boxesGenerales .contColumnas{margin-top:20px;}
.boxesGenerales .columnaL{float:left;width:470px;position:relative;}
.boxesGenerales .columnaR{width:450px;position:relative;margin-bottom:45px;.height:184px;display: inline-block;}
/*box user mi cuenta*/
.boxUserMiCuenta .contFoto{float:left;width:130px;margin-right:10px;}
.boxUserMiCuenta .contFoto img{float:right;}
.boxUserMiCuenta .data{float:left;width:260px;}
.boxUserMiCuenta .data li{margin-bottom:10px;position:relative;}
.boxUserMiCuenta .data li.act{margin-left:0;margin-bottom:6px;}
.boxUserMiCuenta .data li a{font-size:0.75em;}
.boxUserMiCuenta .data li > span{font-size:0.75em;color: lightgray;text-decoration:none;font-family: 'Roboto', sans-serif;}

.boxUserMiCuenta .data li .cambiarMail{display:block;text-align:right;}

.boxUserMiCuenta .data li .icon{position:absolute;width:5px;height:4px;left:-14px;top:7px;}
.boxUserMiCuenta .data li .mail{border:1px solid #c8c9cd;background-color:#efeeee;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(/pase-frontend/resources/img/PIE-radius-4.htc);border-radius:3px;padding:10px 0 10px 9px;width:256px;}
.boxUserMiCuenta .data li .bold{font-size:0.875em;color:#686767;font-weight:bold}
.boxesGenerales .boxPopRedes{width:373px;}
.boxesGenerales .boxPopRedes .popUpBoxRedes{width:auto;padding:13px 0 10px 12px;}
/**/
.boxesGenerales .popUpBoxRedes .botones{width:112px;height:35px;}
.boxesGenerales .popUpBoxRedes .google{background-position:-92px -70px;}
.boxesGenerales .popUpBoxRedes .facebook{background-position: -204px -70px;}
.boxesGenerales .popUpBoxRedes .twitter{background-position: -316px -70px;}
.boxesGenerales .popUpBoxRedes .linkedin{background-position: -428px -70px;}
.boxesGenerales .popUpBoxRedes .yahoo{background-position: -540px -70px;}
.boxesGenerales .popUpBoxRedes .windowsLive{background-position: -652px -70px;}
/*hovers*/
.boxesGenerales .popUpBoxRedes .google:hover{background-position:-92px -105px;}
.boxesGenerales .popUpBoxRedes .facebook:hover{background-position: -204px -105px;}
.boxesGenerales .popUpBoxRedes .twitter:hover{background-position: -316px -105px;}
.boxesGenerales .popUpBoxRedes .linkedin:hover{background-position: -428px -105px;}
.boxesGenerales .popUpBoxRedes .yahoo:hover{background-position: -540px -105px;}
.boxesGenerales .popUpBoxRedes .windowsLive:hover{background-position: -652px -105px;}
/*activos*/
.boxesGenerales .popUpBoxRedes .google.act{background-position:-92px -105px;}
.boxesGenerales .popUpBoxRedes .facebook.act{background-position: -204px -105px;}
.boxesGenerales .popUpBoxRedes .twitter.act{background-position: -316px -105px;}
.boxesGenerales .popUpBoxRedes .linkedin.act{background-position: -428px -105px;}
.boxesGenerales .popUpBoxRedes .yahoo.act{background-position: -540px -105px;}
.boxesGenerales .popUpBoxRedes .windowsLive.act{background-position: -652px -105px;}
/**/
.boxesGenerales .columnaR .sombraDivisoria{position:absolute;width:23px;height:212px;margin-top:-35px;.margin-top:-25px;.margin-left:-20px;}
.boxesGenerales .columnaR .boxPopRedes{margin-left:33px;padding:0px 0 10px 13px;}
.boxesGenerales .boxPopRedes .tit4{font-size:0.875em;}
.boxPopRedes .tit4 {font-size: 16px;font-weight: bold;margin-bottom: 8px;}
.boxesGenerales .boxPopRedes .text{font-size:0.75em;margin-bottom:12px;}
/**/
.boxesGenerales .filasCont .fila .label{width:190px;font-size:0.875em;color:#666;}
.boxesGenerales .filasCont .fila .labelChico{width:150px;font-size:0.875em;float:left;text-align:right;margin-right:10px;color:#666666;line-height:36px;}
.boxesGenerales .filasCont .fila .terminosCheckBox {float: left; /*margin-left: 30px*/}
.boxesGenerales .filasCont .fila .terminos {font-size:0.875em;color:#666;float: left; width: 220px; text-align:left;/*line-height: 18px*/}
.boxesGenerales .filasCont .fila .terminos div { display: inline;}
.boxesGenerales .filasCont .fila .textErrorChico div { text-align:left;}

.boxesGenerales .filasCont a { font-size:100%;color:#226bec}
.boxesGenerales .filasCont .fila .label.optin{text-align:left;margin-left:2px;float:right;width:710px;line-height:18px;.margin-top:-36px;padding-top:5px;}
.contRadios{margin-top:8px;float:left;}
.contRadios input{float:left;margin-left:0;}
.contRadios span{float:left;width:32px;font-size:0.75em;line-height:19px;}
.boxesGenerales .tresInputs .inputChico{width:72px;margin-right:7px;padding-left:5px;height:33px;border:1px solid #c8c9cd;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.alert .inner{padding:10px;}
.alert .inner .tit{color:#c30000;font-size:0.75em;font-weight:bold;margin-bottom:3px;}
.alert .inner .text{color:#c30000;font-size:0.75em;line-height:14px;}
/************************************* MI PERFIL ASOCIADO POPUP CONFIRMACION ACTUALIZACION DATOS **************************************/
/**/
.bajada2{font-size:0.875em;color:#666;padding-left:50px;line-height:20px;margin-bottom:25px;margin-top:9px;padding-right:50PX;}
.popUp .linkSalir{float:left;line-height:47px;margin-left:16px;}
/************************************** POPUP FORM ACTUALIZACION MAIL ***********************************/
#popup_form_actualizacion_mail .alert{width:377px;margin-bottom:18px;}
/************************************ MI PERFIL CONFIRMACION ACTUALIZACION MAIL *******************************/
#mi_perfil_confirmacion_actualizacion_mail .textoOk .iconOK{left:31px;}
#mi_perfil_confirmacion_actualizacion_mail .textoOk .text{text-align:left;text-indent:108px;margin-bottom:20px;}
#mi_perfil_confirmacion_actualizacion_mail .bajada2{padding-left:108px;margin-bottom:27px;}
.parrafoAclaracion { text-align: left; font-size: 0.75em; width: 90%; margin-left: 8px; color: #0000ff; }
.modificarMailLabel { line-height: 0px; }

/************************************ FORM AGREGAR IMAGEN *******************************/
.bajada3{font-size:0.75em;color:#666;width:100%;float:left;margin-top:10px;}
.inputFileEstilos{overflow:hidden;width:112px;height:35px;}
.inputFile{float:left;margin-right:-5px;width:112px;height:35px;margin-left:11px; margin-top:1px;}
.inputFile:hover{background-position:-112px -140px;}
#form_agregar_imagen .tit3{margin:21px 0 29px;}
/************************************ Cargando ******************************/
#darkenScreenObject{
    background:url(../img/loading.gif) no-repeat center center;
}

.ui-widget-content {border: 0 !important; background: #08c;}



/* Agregar estilos a https://testi.rol.agea.com.ar/css/templates/p-rol.css
pisar .cont, .cont .HD y .HD
*/
        .cont{
            background-color: transparent;
        }

        .cont .HD{
            width: 100%;
        }

        .HD {
            margin-left: 148px;
            border-bottom: none;
        }



/*Recuperar Contraseña--------------------------------------------*/
		/* Hugo */
		#reingresarClaveForm span.paseTextTitle{
			font-size: 2.5em;
            font-weight: 300;
		}

		#reingresarClaveForm .paseFormElementLabel {
			font-size: 1.7em;
		}
		#reingresarClaveForm input[type='password']{
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			border: 0px;
			border-bottom: 3px solid #CCC;
			height: 1.8em;
			font-size: 2em;
			width: 100%;
			margin: 4px 0 10px;

			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

        #reingresarPalabraClave_paseMainWraper{
			width: 98%;
			padding: 0 40px 20px;
			-webkit-box-shadow: 1px 2px 2px 2px rgba(179,173,179,1);
			-moz-box-shadow: 1px 2px 2px 2px rgba(179,173,179,1);
			box-shadow: 1px 2px 2px 2px rgba(179,173,179,1);
        }

        #reingresarPalabraClave_paseMainWraper .paseTextTitle{
            font-size: 20px;
            margin-top: 35px;
            margin-bottom: 35px;
        }

        #reingresarPalabraClave_paseMainWraper #reingresarPalabraClave_reingresarPalabraClave_confirmarPalabraClave_paseFormElementWrapper{
			width: 300px;
        }

        #reingresarPalabraClave_paseMainWraper #reingresarPalabraClave_reingresarPalabraClave_palabraClave_paseFormElementWrapper{
			width: 300px;
        }

        #reingresarPalabraClave_paseMainWraper .paseButtonsWrapper .paseButton{
            background-color: #009045;
            border: none;
            color: #FFFFFF;
            font-size: 1.6em;
            font-weight: 300;
            font-family: "Roboto", sans-serif;
            height: 40px;
            margin-top: 40px;
            margin-bottom: 40px;
            width: 120px;
        }

        #reingresarPalabraClave_reingresarPalabraClave_buttons_paseButtonsWrapper {margin-right: 30px; text-align: right;}

        #reingresarPalabraClave_paseMainWraper .paseButtonsWrapper .paseButton:hover {background-position: 0 -31px;}

        #reingresarPalabraClave_paseMainWraper #reingresarPalabraClave_reingresarPalabraClave_paseRequisitosWrapper{
			/*
            border-bottom: 1px solid #b8b8b8;
            padding: 5px 0px 30px 0px;
            width: 510px;
            margin-left: 30px;
			*/
        }

        .ui-dialog{
            background-color: #FFF!important;
            border: 1px solid #b8b8b8;
        }

        #reingresarPalabraClave_reingresarPalabraClave_palabraClave_paseFormElementWrapper label, #reingresarPalabraClave_reingresarPalabraClave_confirmarPalabraClave_paseFormElementWrapper label{
            display: block;
            font-size: 14px;
            padding-bottom: 5px;
        }

        #reingresarPalabraClave_confirmar_paseConfirmacion #modalDialog {
            background: #ebebeb;
            left: 5%;
            top: 118px !important;
            width: 570px !important;
        }

        @media screen and (-webkit-min-device-pixel-ratio:0) {
        #reingresarPalabraClave_confirmar_paseConfirmacion #modalDialog  {
            top: 138px !important;
            }
        }

        #reingresarPalabraClave_paseMainWraper .ui-messages-error-icon{
            display: none;
        }

        #reingresarPalabraClave_paseMainWraper .ui-messages-error-summary{
            margin-left: 0;
        }

        #reingresarPalabraClave_confirmar_paseDialogContent {margin-top: 50px;}
		#modalDialog #dialogoForm input[type='submit']{background-color: #B80025;}
		#modalDialog {border-radius: 0px;}


        .ui-messages-error{
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			margin-bottom: 10px;
			background-color: #b80025;
			height: 55px;
			border-top: 10px solid #b80025;
			border-bottom: 10px solid #b80025;
			border-left: 5px solid #b80025;
			box-shadow: 0px 3px 1px rgba(150, 150, 150, 0.7);
			text-align: left;
			font-family: 'Roboto', sans-serif;
        }

        #reingresarClaveForm .ui-messages-error{
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			margin: 30px 0 0;
			background-color: #fff;
			height: 55px;
			border: 0;
			box-shadow: none;
			text-align: left;
			font-family: 'Roboto', sans-serif;
        }

        #reingresarClaveForm .ui-messages-error-summary {
            color: #b80025;
            font-size: 1.4em;
            font-weight: 400;
            left: -50px;
            position: absolute;
            width: 430px;
        }

		#errorAplicacion_error_message  .ui-messages-error{
			padding: initial;
			padding-left: 40px;
			padding-top: 7px;
		}

		#errorAplicacion_error_message  .ui-messages-error-summary{
			color: white;
			font-size: 1.4em;
			font-style: italic;
		}

		#errorAplicacion_cerrar_paseButton {
			cursor: pointer;
			background-color: #009bdb;
			text-decoration: none;
			color: #fff;
			font-size: 16px;
			display: inline-block;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-transform: uppercase;
			padding: 16px 37px;
			height: 55px;
			border: 0px;
			font-family: 'Roboto';
			margin-top: 20px;
		}

        .ui-messages-error ul{
            margin: 0px;
        }

        .ui-messages-error ul .ui-messages-error-summary{
            font-weight: 400px;
        }

/*End Recuperar Contraseña*/

/*Activar Cuenta--------------------------------------------*/
        #cuentaActivada_paseMainWraper {
            width: 98%;
            /* padding: 0 40px 20px; */
            /* border: 1px solid #b5b4b4; */
			-webkit-box-shadow: 2px 3px 3px 2px rgba(179,173,179,1);
			-moz-box-shadow: 2px 3px 3px 2px rgba(179,173,179,1);
			box-shadow: 2px 3px 3px 2px rgba(179,173,179,1);
        }



/*      #cuentaActivada_fotoUser{
            width: 100px;
            height: 100px;
            display: block;
            background-color: #000;
        }*/

        #cuentaActivada_paseMainWraper #cuentaActivada_fotoUser{
            float: left;
        }

        #cuentaActivada_paseMainWraper #cuentaActivada_title_paseTextTitle{
			/*
            float: left;
            width: 75%;
            margin-left: 15px;
			*/
        }

        #cuentaActivada_paseMainWraper #cuentaActivada_paseTextSubtitle{
            clear: both;
        }

        #cuentaActivada_paseMainWraper .clear{
            clear: both;
        }

        #cuentaActivada_paseMainWraper #cuentaActivada_user_paseUserWrapper{
            padding-bottom: 15px;
            padding-top: 15px;
        }

        #cuentaActivada_paseMainWraper  #cuentaActivada_title_paseTextTitle{
            font-size: 3em;
            margin-top: 20px;
        }

        #cuentaActivada_paseMainWraper  #cuentaActivada_paseTextSubtitle{
            margin-top: 20px;
        }

        #cuentaActivada_paseMainWraper #cuentaActivada_subtitle_paseTextSubtitle{
            font-size: 16px;
            color: #717070;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            padding-top: 25px;
            display: block;
            padding-bottom: 20px;
        }

        #cuentaActivada_paseMainWraper  #cuentaActivada_cerrar_paseButton{
            background: url(https://testi.rol.agea.com.ar/rol/img/pase/templates/rol-boton-publicar.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            background-image: url(https://testi.rol.agea.com.ar/rol/img/pase/templates/rol-boton-publicar.png);
			height: 60px;
			width: 300px;
            text-indent: 9999px;
            border:0px;
        }

        #cuentaActivada_paseMainWraper  #cuentaActivada_footer_paseFooterWraper{
            border-top: none;
            margin-top: 0;
			margin-bottom: 15px;
        }

        #cuentaActivada_buttonsForm_paseFormWrapper{
            position: relative;
        }

        #cuentaActivada_footerText_paseTextFooter{
            margin: 0 auto;
            display: block;
            color: #717070;
            text-align: center;
            font-size: 1.2em;
        }

        #cuentaActivada_clarin_paseTextSubtitle {display: none;}
        #cuentaActivada_paseCuentaActivadaImg {display: none;}
        #cuentaActivada_fotoUser {display:none;}
        #cuentaActivada_generico_paseTextSubtitle { margin: 10px 0 20px 0; font-size: 14px; display:none;}
        #cuentaActivada_buttonsForm_paseFormWrapper {text-align: center; margin:10px 0 20px 0; padding: 40px;}
        #cuentaActivada_user_nombre {color: #b80025;}

/*End Activar Cuenta*/

/*Nuevo cambio 05-01-2015*/
		.HD { margin-left: 0;}
		.cont .HD {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            left: 0;
            position: absolute;
            top: 0;
        }
		.fondo { padding-top: 0; }
		.main { /* margin: -1px 15px 0 */; padding-bottom: 0; /* width: 540px; */}
		#cuentaActivada_paseMainWraper .main   { /* margin: -1px 15px 0 60px; */}
		#reingresarPalabraClave_paseHeader { border-bottom: none; }
		#reingresarPalabraClave_paseMainWraper #reingresarPalabraClave_reingresarPalabraClave_paseRequisitosWrapper {
			/* width: 530px; */
		}
		#reingresarPalabraClave_reingresarPalabraClave_buttons_paseButtonsWrapper {
			width: 253px;
			margin: 0px auto;
		}
		#reingresarPalabraClave_reingresarPalabraClave_inputs_paseFormElementWrappers {
			width: 325px;
			margin: 0px auto;
		}
		#reingresarPalabraClave_paseMainWraper, #cuentaActivada_paseMainWraper    {margin-top: 120px;}
		#reingresarPalabraClave_paseMainWraper .paseTextRequisitosPalabraClave {
            font-size: 1.4em;
            left: -123px;
            position: absolute;
            width: 670px;

        }
		#reingresarPalabraClave_paseMainWraper .paseTextTitle {
			margin-left:0px;
			padding-right: 23px;
		}
/*Nuevo cambio 05-01-2015*/


@media only screen and (max-width:640px){

    body {background: #fff;}

	#reingresarPalabraClave_logo_wrapper,
	#cuentaActivada_logo_wrapper{
		position: absolute;
		width: 100%;
		margin: 0px;
		top: 0px;
		left: 0px;
	}

	#reingresarPalabraClave_logo,
	#cuentaActivada_logo{
		position: absolute;
		top: 10px;
		left: 10px;
		background: url(https://testi.rol.agea.com.ar/rol/img/logo-mobile.png) no-repeat;
		width: 212px;
		height: 33px;
	}

	#reingresarPalabraClave_logo_wrapper,
	#cuentaActivada_logo_wrapper{
		height: 50px;
	}
	#reingresarPalabraClave_paseMainWraper,
	#cuentaActivada_paseMainWraper{
		margin: 70px 0px 0px 3px;
		padding: 0px;
		border: 0px;
		width: 98%;
	}
    #reingresarPalabraClave_paseMainWraper .paseTextRequisitosPalabraClave {
        left: 0;
        position: relative;
        width: 100%;
    }
}

@media only screen and (max-width:568px){
	#reingresarPalabraClave_confirmar_paseConfirmacion #modalDialog {width: 95% !important;}
    #reingresarPalabraClave_paseMainWraper .cont  .main,
	#cuentaActivada_paseMainWraper{
		width:98%;
	}
	#cuentaActivada_paseMainWraper .main{
		margin: 0px;
	}
	#cuentaActivada_paseMainWraper #cuentaActivada_title_paseTextTitle{
		width:100%;
		margin: 0px;
	}
	input[type='submit']{
		margin-right: 30px;
	}
}

@media only screen and (max-width:414px){
	#cuentaActivada_paseMainWraper .cont  .main{
		/*
		margin: 0px;
		width: 400px;
		*/
	}
}

@media only screen and (max-width:375px){
	#cuentaActivada_paseMainWraper .cont .main {
		/*
		margin: 0px;
		width: 320px;
		*/
	}

	#cuentaActivada_paseMainWraper #cuentaActivada_title_paseTextTitle{
		width:100%;
	}

	#reingresarPalabraClave_paseMainWraper .cont  .main{
		margin: 0px;
		width: 315px;
	}

	#cuentaActivada_buttonsForm_paseFormWrapper {
		padding: 0px;
	}

	#reingresarPalabraClave_paseMainWraper #reingresarPalabraClave_reingresarPalabraClave_paseRequisitosWrapper{
		width: 320px;
		margin-left: 20px;
	}

	#reingresarPalabraClave_reingresarPalabraClave_palabraClave_paseFormElementWrapper{
		margin-left: 15px;
	}

	#reingresarPalabraClave_reingresarPalabraClave_confirmarPalabraClave_paseFormElementWrapper{
		margin-left: 15px;
	}


	#reingresarPalabraClave_paseMainWraper #reingresarPalabraClave_reingresarPalabraClave_paseRequisitosWrapper{
		padding: 5px 0px 15px 0px;
	}

	input[type='submit']{
		margin-right: 30px;
	}
}

@media only screen and (max-width:320px){
	#cuentaActivada_paseMainWraper .cont  .main{
	/*
		margin: 0px;
		width: 300px;
	*/
	}
	#cuentaActivada_buttonsForm_paseFormWrapper {
		padding: 0px;
	}

}